#footer {
  width: 100%;
  /* height: 300px; */
  background-color: #bcbcd7;
  color: white;
}
#footer .row {
  display: flex !important;
  justify-content: space-between;
  margin: 0px 40px;
}
#footer .row div p:first-of-type {
  text-transform: uppercase;
  font-weight: bold;
}
#footer .row div a {
  color: white;
}
#footer .row div a:hover {
  text-decoration: none;
  color: #ad235f;
}
#footer .row div {
  padding: 0px 50px;
  padding-top: 60px;
}
#footer > p {
  text-align: center;
  margin: 0 !important;
}
