@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
#priceCard {
  width: 350px;
  /*border: 4px solid #4450b0; */
  padding: 15px;
  font-size: 17px;
  box-shadow: -1px 1px 5px 9px rgba(8, 9, 74, 0.4);
}
#priceCard p {
  text-align: center;
}
#priceCard p span {
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  transform: translateY(5px);
  padding: 0px 10px;
}
#priceCard p:first-of-type {
  font-weight: 600;
}
