@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
#priceCard {
  width: 350px;
  /*border: 4px solid #4450b0; */
  padding: 15px;
  font-size: 17px;
  margin-left: 20px;
  box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
#priceCard p {
  text-align: center;
}
#priceCard p span {
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  transform: translateY(5px);
  padding: 0px 10px;
}
#priceCard p:first-of-type {
  font-weight: 600;
}
