/*APP.js*/
.App {
  font-family: roboto !important;
  background-color: #4450b0;
}

/*TOP NAVBAR*/

.top-navbar-class {
  height: 102px;
  padding: 25px 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}
.navRow-class {
  align-items: center;
  flex-wrap: wrap;
}

.nav-ul-wrapper-class {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
}

.nav-link {
  color: white !important;
  padding: 0 25px !important;
}

/*Carousel Content*/

.title-class {
  font-size: 55px;
  line-height: 60px;
  color: white;
  padding-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
  display: table-caption;
}
