/*APP.js*/
.App {
  font-family: roboto !important;
  /* background-color: #4450b0; */
}

/*TOP NAVBAR*/

.top-navbar-class {
  height: 102px;
  padding: 25px 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}
.navRow-class {
  align-items: center;
  flex-wrap: wrap;
}

.nav-ul-wrapper-class {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
}

.nav-link {
  color: white !important;
  padding: 0 25px !important;
}

/*Carousel Content*/

.title-class {
  font-size: 55px;
  line-height: 60px;
  color: white;
  padding-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.carousel-control-prev {
  border-radius: 50%;
  background-color: #2e428b;
  height: 70px;
  width: 70px;
  opacity: 1;
  font-size: 15px;
  top: 100%;
}
.carousel-control-next {
  border-radius: 50%;
  background-color: #2e428b;
  height: 70px;
  width: 70px;
  opacity: 1;
  font-size: 15px;
  top: 100%;
  right: 0;
  left: 75px;
}
.carousel-indicators {
  display: none;
}
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
#prices {
  font-family: "PT Sans";
  padding: 0px 100px;
}
#prices > div {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
#header {
  width: 100%;
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #08094a;
}
#header span {
  color: #e66deb;
}
#prices #content {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  font-size: 17px;
}
